:root {
  --background: hsl(200, 100%, 50%);
  --border: white;
  --ear-color: hsl(205, 22%, 60%);
  --ear-border: hsl(205, 35%, 75%);
  --head: hsl(206, 30%, 74%);
  --eye: black;
  --eye-border: white;
  --nose: hsl(23, 42%, 56%);
  --black: transparent;
}