
.body {
  background-color: #F9F9FB;
  margin: 0;
  display: flex;
  font-family: 'Roboto', sans-serif;
}
.svg {
  fill: currentColor;
}
.header {
  background-color: #fff;
  display: grid;
  max-width: 360px;
  grid-template-rows: auto 1fr auto;
}
.logo {
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 30px 0 60px 48px;
  padding-right: 2vw;
  &__title {
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 19px;
    margin-right: 1rem;
    color: #3B3F4A;
  }
}
.nav {
  margin-left: 50px;
  list-style: none;
  padding: 0;
  &__item {
    margin-top: 20px;
  }
  &__link {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 28px;
    color: #2B2B2B;
    text-decoration: none;
    font-weight: 400;
  }
  &__svg {
    fill: #99A1B7;
  }
  &__text {
    font-size: 16px;
    line-height: 19px;
    color: currentColor;
  }
  &__link:hover,
  &__link:focus {
    color: #1347FF;
    font-weight: 700;
  }
  &__link:hover &__svg,
  &__link:focus &__svg {
    fill: #1347FF;
  }
  &__link--down {
    color: #99A1B7;
  }
}
.nav--down {
  &__link {
    color: #99A1B7;
  }
}
.main {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  margin: 30px;
  gap: 30px;
}
.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  &__title {
    margin: 0;
    font-size: 28px;
    font-weight: 500;
    color: #3B3F4A;
    padding: 30px;
  }
  &__title--link {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
  }
  &__title--link:hover {
    box-shadow: 0 24px 32px 0px hsla(215, 30%, 59%, 0.12);
  }
  &__link {
    color: #3B3F4A;

  }
  &__section {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__item {
    background-color: #fff;
    border-radius: 5px;
  }
  &__svg {
    fill: #99A1B7;
    min-width: 32px;
  }
}
.requests {
  list-style: none;
  padding: 0;
  margin: 0 40px 0 35px;
  &__item {
    margin-bottom: 50px;
  }
  &__top {
    display: flex;
    gap: 11px;
    margin-bottom: 15px;
  }
  &__number {
    color: #99A1B7;
    font-weight: 700;
    font-size: 12px;
  }
  &__status {
    font-weight: 700;
    font-size: 12px;
  }
  &__completed {
    color: #53BE3E;
  }
  &__process {
    color: #4B73FF;
  }
  &__waiting {
    color: #99A1B7;
  }
  &__main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 11px;
    padding-left: 50px;
    position: relative;
  }

  &__category,
  &__subcategory {
    color: #3B3F4A;
    font-weight: 700;
  }
  &__body {
    color: #6D717E;
    flex-basis: 100%;

  }
  &__svg {
    fill: #99A1B7;
  }
  &__svg--type {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__svg--black {
    fill: #3B3F4A;
  }
}
.rooms {
  list-style: none;
  padding: 0;
  margin: 0;
  &__link {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    // grid-auto-flow: column;
    align-items: center;
    gap: 15px;
    padding: 20px 30px 20px 35px;
    color: #3B3F4A;
    font-size: 16px;
  }
  &__link:hover,
  &__link:focus {
    background-color: #FCFCFE;
  }
  &__svg {
    fill: #99A1B7;
    min-width: 24px;
  }
  &__number {
    font-weight: 700;
    
  }
  &__floor {
    margin: 0 10px;
  }
  &__time {
    text-align: right;
    flex-grow: 1;
  }
}
.recent {
  margin: 0 30px 0 30px;
  padding: 0;
  list-style: none;
  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
  }
  &__description {
    flex-grow: 1;
  }
  &__img {
    border-radius: 50%;
    margin-right: 15px;
    transform: translateY(-20%);
  }
  &__name {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 8px;
  }
  &__role {
    font-size: 14px;
    font-weight: 400;
    color: #6D717E;
  }
  &__contact {
    display: flex;
    gap: 10px;
  }
  &__svg {
    fill: #99A1B7;
  }
  &__phone {
    font-weight: 900;
    font-size: 16px;
  }
}
.search {
  display: flex;
  align-items: center;
  &__submit {
    height: 100%;
    padding: 0 10px;
    border: none;
    background-color: inherit;
  }
  &__svg {
    min-width: 24px;
    fill: #1347FF;
    
  }
  &__input {
    flex-grow: 1;
    color: #99A1B7;
    font-size: 20px;
    height: 100%;
    background-color: inherit;
    border: none;
  }
  &__input:hover,
  &__input:focus {
    border: none;
  }
}
.account {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 16px;
  &__link {
    text-decoration: none;
    color: #3B3F4A;
    font-size: 16px;
    font-weight: 500;
  }
  &__img {
    border-radius: 50%;
  }
}
.news {
  &__title {
    font-size: 28px;
    font-weight: 500;
    margin: 0;
  }
}
.news-topic {
  padding: 30px 0 26px 0;
  border-bottom: 1px solid #F2F4FA;
  text-decoration: none;
  display: grid;
  gap: 15px;
  &__img {
    border-radius: 5px;
  }
  &__date {
    color: #6B727B;
    font-size: 14px;
  }
  &__title {
    font-size: 16px;
    font-weight: 500;
    color: #3B3F4A;
    margin: 0;
  }
}
.news-topic:hover .news-topic__title,
.news-topic:focus .news-topic__title {
  color: #1347FF;
}


.art {
  display: grid;
}
.body-bilder {
  background-color: var(--background);
  padding: 50px;
  &__one {
    position: relative;
    width: 400px;
    height: 250px;
    border: 10px solid var(--border);
    border-radius: 5px;
    display: flex;
    z-index: 1;
    overflow: hidden;
  }
  &__one::before,
  &__one::after {
    position: absolute;
    content: "";
    width: 70px;
    height: 80px;
    top: 60px;
    background-color: var(--ear-color);
    border-radius: 50%;
    border: 6px solid var(--ear-border);
  }
  &__one::before {
    left: 100px;
  }
  &__one::after {
    right: 100px;
  }
  &__two {
    position: absolute;
    top: 50px;
    left: calc(50% - 70px);
    width: 140px;
    height: 140px;
    background-color: var(--head);
    border-radius: 50%;
    z-index: 2;
  }
  &__two::before,
  &__two::after {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    background-color: var(--eye);
    border-radius: 50%;
    top: 26%;
    border: 15px solid var(--eye-border);
  }
  &__two::before {
    left: 20%;
  }
  &__two::after {
    right: 20%;
  }
  &__three {
    position: absolute;
    top: 60px;
    left: 52px;
    width: 35px;
    height: 50px;
    background-color: var(--nose);
    border-radius: 25px;
    z-index: 3;
  }
  &__three::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background-color: var(--head);
    top: -63px;
    left: -8px;
    transform: rotate(60deg) skewX(30deg);
    box-shadow: 35px -25px 0 0 var(--head);
  }
  &__three::after {
    position: absolute;
    content: "";
    width: 370px;
    height: 10px;
    border: 15px solid var(--black);
    top: -5px;
    left: -50px;
    transform: rotate(45deg) skewX(-47deg);
  }
}
.flower {
  width: 320px;
  &__one {
    width: 50px;
    height: 50px;
    position: relative;
    background-color: tomato;
    border: 10px solid #a52a2a;
    transform: rotate(45deg);
    margin: 50px auto 150px auto;
  }
  &__one::after,
  &__one::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 180px;
    transform: rotate(-45deg);
    border: 10px solid brown;
  }
  &__one::after {
    left: 40px;
    top: -40px;
    background-color: rgb(218, 132, 132);
    border-radius: 100% 0 100% 50%;
  }
  &__one::before {
    background-color: rgb(252, 203, 203);
    border-radius: 0 100% 50% 100%;
  }
}
